  <header ng-include src="headerHtml" id="top" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></header>

  <div class="jumbotron masthead">
    <div class="container">
      <h1>Workbench Docs</h1>
      <p>Oracle Workbench Documentation </p>
    </div>
  </div>

  <div class="gray-bar"></div>

  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <a href="./ngl/#/cartridges">
          <img class="img-thumbnail" src="./img/ngl-home-icon.png">
        </a>
        <h2>National Geographic</h2>
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4">
        <a href="./cengage/#/cartridges">
          <img class="img-thumbnail" src="./img/cng-home-icon.png">
        </a>
        <h2>Cengage</h2>
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4">
        <a href="./nelson/#/cartridges">
          <img class="img-thumbnail" src="./img/nel-home-icon.png">
        </a>
        <h2>Nelson</h2>
      </div><!-- /.col-lg-4 -->
    </div>
  </div>